.navbar{
    margin-top: 0px;
}
#head{
    width: 100%;  
    margin-top: 0px;
    color: white;
}
img{
    width: 100%;    
}
#carousel-button{
    border: 1px;
    border-radius: 30px;
    padding: 19px 17px;
    color: white;
    background-color: #5e068a;
    font-weight: 500;
}
#carousel-button:hover{
    background-color:rgb(130, 8, 174);
}
.carousel-caption{
    margin: -50px 10px 10px 10px;

}
p{
    line-height: 1.8;
    margin-top: 20px;
}
@media(max-width:866px){
    h1{
        font-size:19px;
    }
    #demo{
        font-size:13px;
 
}
}
/* grid section after carouscel */
.btn{
    border: 2px #5e068a;
    border-radius: 50px;
    padding:16px 27px;
    margin-top: 25px;
    background-color: blueviolet;
    color: white;
    font-weight: 500;
}
.btn:hover{
    border:2px solid #5e068a;
    color: #5e068a;
}

.heaidng{
    padding:-10px 0 0 -30px;
    font-size: 10px;
    background-color: #5e068a;
}
.navbar .navbar-brand{
    width:50%;
    
}